USE [ToritosDB]
GO
/****** Object:  Table [dbo].[Asignacion]    Script Date: 5/11/2024 17:44:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Asignacion](
	[IdAsignacion_i] [int] IDENTITY(1,1) NOT NULL,
	[TipoAsignacion_c] [char](1) NOT NULL,
	[FechaAsignacion_d] [datetime] NOT NULL,
	[FechaEntregaVehiculo_d] [datetime] NULL,
	[IdVehiculo_i] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdAsignacion_i] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cliente]    Script Date: 5/11/2024 17:44:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cliente](
	[IdCliente_i] [int] IDENTITY(1,1) NOT NULL,
	[Codigo_c] [char](7) NOT NULL,
	[Nombre_nv] [nvarchar](50) NOT NULL,
	[ApellidoPaterno_nv] [nvarchar](20) NOT NULL,
	[ApellidoMaterno_nv] [nvarchar](20) NOT NULL,
	[TipoDocumento_c] [char](1) NOT NULL,
	[NroDocumento_v] [varchar](9) NOT NULL,
	[Sexo_c] [char](1) NOT NULL,
	[FechaNacimiento_d] [date] NOT NULL,
	[EstadoCivil_c] [char](1) NOT NULL,
	[NroContacto_c] [char](9) NOT NULL,
	[Correo_nv] [nvarchar](30) NOT NULL,
	[CorreoAutenticado_bo] [bit] NOT NULL,
	[Direccion_nv] [nvarchar](140) NOT NULL,
	[DireccionRef_nv] [nvarchar](140) NULL,
	[IdDistrito_c] [char](6) NOT NULL,
	[Password_bi] [binary](64) NOT NULL,
	[Estado_c] [char](1) NOT NULL,
	[FechaInscripcion_d] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdCliente_i] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Departamento]    Script Date: 5/11/2024 17:44:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Departamento](
	[IdDepartamento_c] [char](2) NOT NULL,
	[Nombre_nv] [nvarchar](45) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdDepartamento_c] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DetalleEstadoCuenta]    Script Date: 5/11/2024 17:44:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DetalleEstadoCuenta](
	[IdDetalleEstadoCuenta_i] [int] IDENTITY(1,1) NOT NULL,
	[IdDetalleGrupo_i] [int] NOT NULL,
	[NroCuota_i] [int] NOT NULL,
	[MontoCuota_m] [money] NOT NULL,
	[FechaPagoProgramada_d] [datetime] NOT NULL,
	[FechaPagoReal_d] [datetime] NULL,
	[EstadoCuota_c] [char](1) NOT NULL,
	[PenalidadMonto_m] [money] NULL,
	[PenalidadFechaPago_d] [datetime] NULL,
	[MartillazoMonto_m] [money] NOT NULL,
	[MartillazoFechaPago_d] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdDetalleEstadoCuenta_i] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DetalleGrupo]    Script Date: 5/11/2024 17:44:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DetalleGrupo](
	[IdDetalleGrupo_i] [int] IDENTITY(1,1) NOT NULL,
	[IdGrupo_i] [int] NOT NULL,
	[IdCliente_i] [int] NOT NULL,
	[IdDocumentos_i] [int] NULL,
	[IdAsignacion_i] [int] NULL,
	[ClienteAdmin_bo] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdDetalleGrupo_i] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Distrito]    Script Date: 5/11/2024 17:44:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Distrito](
	[IdDistrito_c] [char](6) NOT NULL,
	[IdProvincia_c] [char](4) NOT NULL,
	[Nombre_nv] [nvarchar](45) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdDistrito_c] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Documento]    Script Date: 5/11/2024 17:44:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Documento](
	[IdDocumento_i] [int] IDENTITY(1,1) NOT NULL,
	[FileDocIdentidad_by] [binary](255) NULL,
	[FileAntecedentesPenales_by] [binary](255) NULL,
	[FileReciboLuzAgua_by] [binary](255) NULL,
	[FileEquifax_by] [binary](255) NULL,
	[Estado_c] [char](1) NOT NULL,
	[FechaAprovacion_d] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdDocumento_i] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Grupo]    Script Date: 5/11/2024 17:44:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Grupo](
	[IdGrupo_i] [int] IDENTITY(1,1) NOT NULL,
	[Codigo_c] [char](7) NOT NULL,
	[IdModeloVehiculo_i] [int] NOT NULL,
	[PrecioUnidadVehiculo_m] [money] NOT NULL,
	[FechaCreacion_d] [datetime] NULL,
	[CantMaxIntegrantes_i] [int] NOT NULL,
	[FechaInicioPandero_d] [datetime] NULL,
	[Estado_c] [char](1) NOT NULL,
	[CantidadCuotas_i] [int] NOT NULL,
	[Penalidad_dc] [decimal](18, 0) NOT NULL,
	[TipoPeriodoPago_c] [char](1) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdGrupo_i] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Marca]    Script Date: 5/11/2024 17:44:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Marca](
	[IdMarca_i] [int] IDENTITY(1,1) NOT NULL,
	[Nombre_nv] [nvarchar](30) NOT NULL,
	[SitioWeb_nv] [nvarchar](100) NULL,
	[Estado_c] [char](1) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdMarca_i] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Modelo]    Script Date: 5/11/2024 17:44:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Modelo](
	[IdModeloVehiculo_i] [int] IDENTITY(1,1) NOT NULL,
	[IdMarca_i] [int] NOT NULL,
	[Nombre_nv] [nvarchar](50) NOT NULL,
	[Tipo_c] [char](1) NOT NULL,
	[PrecioUnidadVehiculo_m] [money] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdModeloVehiculo_i] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Pais]    Script Date: 5/11/2024 17:44:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pais](
	[IdPais_i] [char](3) NOT NULL,
	[Nombre_nv] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdPais_i] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Proveedor]    Script Date: 5/11/2024 17:44:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Proveedor](
	[IdProveedor_i] [int] IDENTITY(1,1) NOT NULL,
	[Nombre_nv] [nvarchar](80) NOT NULL,
	[Contacto_v] [varchar](15) NOT NULL,
	[CargoContacto_nv] [nvarchar](15) NOT NULL,
	[Direccion_nv] [nvarchar](120) NOT NULL,
	[IdPais_i] [char](3) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdProveedor_i] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Provincia]    Script Date: 5/11/2024 17:44:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Provincia](
	[IdProvincia_c] [char](4) NOT NULL,
	[IdDepartamento_c] [char](2) NOT NULL,
	[Nombre_nv] [nvarchar](45) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdProvincia_c] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Vehiculo]    Script Date: 5/11/2024 17:44:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Vehiculo](
	[IdVehiculo_i] [int] IDENTITY(1,1) NOT NULL,
	[IdModeloVehiculo_i] [int] NOT NULL,
	[IdProveedor_i] [int] NOT NULL,
	[Serie_nv] [nvarchar](20) NOT NULL,
	[Placa_c] [char](7) NOT NULL,
	[AnioFabricacion_d] [date] NOT NULL,
	[PrecioCompraVehiculo_m] [money] NULL,
	[Color_c] [char](2) NOT NULL,
	[FechaIngreso_d] [datetime] NOT NULL,
	[Estado_c] [char](1) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdVehiculo_i] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Cliente] ON 

SET IDENTITY_INSERT [dbo].[Cliente] OFF
GO
INSERT [dbo].[Departamento] ([IdDepartamento_c], [Nombre_nv]) VALUES (N'01', N'Amazonas')
INSERT [dbo].[Departamento] ([IdDepartamento_c], [Nombre_nv]) VALUES (N'02', N'Áncash')
INSERT [dbo].[Departamento] ([IdDepartamento_c], [Nombre_nv]) VALUES (N'03', N'Apurímac')
GO
SET IDENTITY_INSERT [dbo].[DetalleGrupo] ON 

INSERT [dbo].[DetalleGrupo] ([IdDetalleGrupo_i], [IdGrupo_i], [IdCliente_i], [IdDocumentos_i], [IdAsignacion_i], [ClienteAdmin_bo]) VALUES (4, 1, 3, 4, NULL, 1)
INSERT [dbo].[DetalleGrupo] ([IdDetalleGrupo_i], [IdGrupo_i], [IdCliente_i], [IdDocumentos_i], [IdAsignacion_i], [ClienteAdmin_bo]) VALUES (5, 1, 4, NULL, NULL, 0)
SET IDENTITY_INSERT [dbo].[DetalleGrupo] OFF
GO
INSERT [dbo].[Distrito] ([IdDistrito_c], [IdProvincia_c], [Nombre_nv]) VALUES (N'010101', N'0101', N'Chachapoyas')
INSERT [dbo].[Distrito] ([IdDistrito_c], [IdProvincia_c], [Nombre_nv]) VALUES (N'010102', N'0101', N'Asunción')
INSERT [dbo].[Distrito] ([IdDistrito_c], [IdProvincia_c], [Nombre_nv]) VALUES (N'010103', N'0101', N'Balsas')
GO
SET IDENTITY_INSERT [dbo].[Documento] ON 

SET IDENTITY_INSERT [dbo].[Documento] OFF
GO
SET IDENTITY_INSERT [dbo].[Grupo] ON 

INSERT [dbo].[Grupo] ([IdGrupo_i], [Codigo_c], [IdModeloVehiculo_i], [PrecioUnidadVehiculo_m], [FechaCreacion_d], [CantMaxIntegrantes_i], [FechaInicioPandero_d], [Estado_c], [CantidadCuotas_i], [Penalidad_dc], [TipoPeriodoPago_c]) VALUES (1, N'G240001', 1, 15000.0000, CAST(N'2023-01-01T00:00:00.000' AS DateTime), 15, CAST(N'2023-01-02T00:00:00.000' AS DateTime), N'I', 12, CAST(0 AS Decimal(18, 0)), N'M')
SET IDENTITY_INSERT [dbo].[Grupo] OFF
GO
SET IDENTITY_INSERT [dbo].[Marca] ON 

INSERT [dbo].[Marca] ([IdMarca_i], [Nombre_nv], [SitioWeb_nv], [Estado_c]) VALUES (1, N'Toyota', N'www.toyota.com', N'A')
INSERT [dbo].[Marca] ([IdMarca_i], [Nombre_nv], [SitioWeb_nv], [Estado_c]) VALUES (2, N'Ford', N'www.ford.com', N'A')
INSERT [dbo].[Marca] ([IdMarca_i], [Nombre_nv], [SitioWeb_nv], [Estado_c]) VALUES (3, N'Tesla', N'www.tesla.com', N'A')
SET IDENTITY_INSERT [dbo].[Marca] OFF
GO
SET IDENTITY_INSERT [dbo].[Modelo] ON 

INSERT [dbo].[Modelo] ([IdModeloVehiculo_i], [IdMarca_i], [Nombre_nv], [Tipo_c], [PrecioUnidadVehiculo_m]) VALUES (1, 1, N'Yaris', N'E', 18000.0000)
INSERT [dbo].[Modelo] ([IdModeloVehiculo_i], [IdMarca_i], [Nombre_nv], [Tipo_c], [PrecioUnidadVehiculo_m]) VALUES (2, 2, N'F-150', N'D', 45000.0000)
INSERT [dbo].[Modelo] ([IdModeloVehiculo_i], [IdMarca_i], [Nombre_nv], [Tipo_c], [PrecioUnidadVehiculo_m]) VALUES (3, 3, N'Model X', N'E', 90000.0000)
SET IDENTITY_INSERT [dbo].[Modelo] OFF
GO
INSERT [dbo].[Pais] ([IdPais_i], [Nombre_nv]) VALUES (N'001', N'Afganistán')
INSERT [dbo].[Pais] ([IdPais_i], [Nombre_nv]) VALUES (N'002', N'Islas Gland')
INSERT [dbo].[Pais] ([IdPais_i], [Nombre_nv]) VALUES (N'003', N'Albania')
GO
SET IDENTITY_INSERT [dbo].[Proveedor] ON 

INSERT [dbo].[Proveedor] ([IdProveedor_i], [Nombre_nv], [Contacto_v], [CargoContacto_nv], [Direccion_nv], [IdPais_i]) VALUES (1, N'Proveedor 1', N'912345678', N'Gerente', N'Calle 123', N'001')
INSERT [dbo].[Proveedor] ([IdProveedor_i], [Nombre_nv], [Contacto_v], [CargoContacto_nv], [Direccion_nv], [IdPais_i]) VALUES (2, N'Proveedor 2', N'923456789', N'Subgerente', N'Avenida 456', N'002')
INSERT [dbo].[Proveedor] ([IdProveedor_i], [Nombre_nv], [Contacto_v], [CargoContacto_nv], [Direccion_nv], [IdPais_i]) VALUES (3, N'Proveedor 3', N'934567890', N'Jefe de Compras', N'Jr. Las Flores', N'003')
SET IDENTITY_INSERT [dbo].[Proveedor] OFF
GO
INSERT [dbo].[Provincia] ([IdProvincia_c], [IdDepartamento_c], [Nombre_nv]) VALUES (N'0101', N'01', N'Chachapoyas')
INSERT [dbo].[Provincia] ([IdProvincia_c], [IdDepartamento_c], [Nombre_nv]) VALUES (N'0102', N'01', N'Bagua')
INSERT [dbo].[Provincia] ([IdProvincia_c], [IdDepartamento_c], [Nombre_nv]) VALUES (N'0103', N'01', N'Bongará')
GO
SET IDENTITY_INSERT [dbo].[Vehiculo] ON 

INSERT [dbo].[Vehiculo] ([IdVehiculo_i], [IdModeloVehiculo_i], [IdProveedor_i], [Serie_nv], [Placa_c], [AnioFabricacion_d], [PrecioCompraVehiculo_m], [Color_c], [FechaIngreso_d], [Estado_c]) VALUES (8, 1, 1, N'SERIE12345', N'AB-1234', CAST(N'2020-01-01' AS Date), 20000.0000, N'BL', CAST(N'2023-01-15T00:00:00.000' AS DateTime), N'D')
INSERT [dbo].[Vehiculo] ([IdVehiculo_i], [IdModeloVehiculo_i], [IdProveedor_i], [Serie_nv], [Placa_c], [AnioFabricacion_d], [PrecioCompraVehiculo_m], [Color_c], [FechaIngreso_d], [Estado_c]) VALUES (10, 2, 2, N'SERIE23456', N'CD-2345', CAST(N'2021-02-15' AS Date), 18000.0000, N'AZ', CAST(N'1905-06-25T00:00:00.000' AS DateTime), N'E')
INSERT [dbo].[Vehiculo] ([IdVehiculo_i], [IdModeloVehiculo_i], [IdProveedor_i], [Serie_nv], [Placa_c], [AnioFabricacion_d], [PrecioCompraVehiculo_m], [Color_c], [FechaIngreso_d], [Estado_c]) VALUES (13, 3, 3, N'SERIE34567', N'EF-3456', CAST(N'2022-03-10' AS Date), 35000.0000, N'RO', CAST(N'1905-07-04T00:00:00.000' AS DateTime), N'N')
SET IDENTITY_INSERT [dbo].[Vehiculo] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Cliente__DB3716BA6AE8EEF6]    Script Date: 5/11/2024 17:44:21 ******/
ALTER TABLE [dbo].[Cliente] ADD UNIQUE NONCLUSTERED 
(
	[Codigo_c] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Grupo__DB3716BA5CAA8F93]    Script Date: 5/11/2024 17:44:21 ******/
ALTER TABLE [dbo].[Grupo] ADD UNIQUE NONCLUSTERED 
(
	[Codigo_c] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Vehiculo__9C2AA6B26D7879BC]    Script Date: 5/11/2024 17:44:21 ******/
ALTER TABLE [dbo].[Vehiculo] ADD UNIQUE NONCLUSTERED 
(
	[Serie_nv] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Vehiculo__D23C233A329B033F]    Script Date: 5/11/2024 17:44:21 ******/
ALTER TABLE [dbo].[Vehiculo] ADD UNIQUE NONCLUSTERED 
(
	[Placa_c] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Cliente] ADD  DEFAULT (getdate()) FOR [FechaInscripcion_d]
GO
ALTER TABLE [dbo].[Grupo] ADD  DEFAULT (getdate()) FOR [FechaCreacion_d]
GO
ALTER TABLE [dbo].[Asignacion]  WITH CHECK ADD  CONSTRAINT [FK_Asignacion_Vehiculo] FOREIGN KEY([IdVehiculo_i])
REFERENCES [dbo].[Vehiculo] ([IdVehiculo_i])
GO
ALTER TABLE [dbo].[Asignacion] CHECK CONSTRAINT [FK_Asignacion_Vehiculo]
GO
ALTER TABLE [dbo].[Cliente]  WITH CHECK ADD  CONSTRAINT [FK_Cliente_Distrito] FOREIGN KEY([IdDistrito_c])
REFERENCES [dbo].[Distrito] ([IdDistrito_c])
GO
ALTER TABLE [dbo].[Cliente] CHECK CONSTRAINT [FK_Cliente_Distrito]
GO
ALTER TABLE [dbo].[DetalleEstadoCuenta]  WITH CHECK ADD  CONSTRAINT [FK_DetalleEstadoCuenta_DetalleGrupo] FOREIGN KEY([IdDetalleGrupo_i])
REFERENCES [dbo].[DetalleGrupo] ([IdDetalleGrupo_i])
GO
ALTER TABLE [dbo].[DetalleEstadoCuenta] CHECK CONSTRAINT [FK_DetalleEstadoCuenta_DetalleGrupo]
GO
ALTER TABLE [dbo].[DetalleGrupo]  WITH CHECK ADD  CONSTRAINT [FK_DetalleGrupo_Asignacion] FOREIGN KEY([IdAsignacion_i])
REFERENCES [dbo].[Asignacion] ([IdAsignacion_i])
GO
ALTER TABLE [dbo].[DetalleGrupo] CHECK CONSTRAINT [FK_DetalleGrupo_Asignacion]
GO
ALTER TABLE [dbo].[DetalleGrupo]  WITH CHECK ADD  CONSTRAINT [FK_DetalleGrupo_Cliente] FOREIGN KEY([IdCliente_i])
REFERENCES [dbo].[Cliente] ([IdCliente_i])
GO
ALTER TABLE [dbo].[DetalleGrupo] CHECK CONSTRAINT [FK_DetalleGrupo_Cliente]
GO
ALTER TABLE [dbo].[DetalleGrupo]  WITH CHECK ADD  CONSTRAINT [FK_DetalleGrupo_Documentos] FOREIGN KEY([IdDocumentos_i])
REFERENCES [dbo].[Documento] ([IdDocumento_i])
GO
ALTER TABLE [dbo].[DetalleGrupo] CHECK CONSTRAINT [FK_DetalleGrupo_Documentos]
GO
ALTER TABLE [dbo].[DetalleGrupo]  WITH CHECK ADD  CONSTRAINT [FK_DetalleGrupo_Grupo] FOREIGN KEY([IdGrupo_i])
REFERENCES [dbo].[Grupo] ([IdGrupo_i])
GO
ALTER TABLE [dbo].[DetalleGrupo] CHECK CONSTRAINT [FK_DetalleGrupo_Grupo]
GO
ALTER TABLE [dbo].[Distrito]  WITH CHECK ADD  CONSTRAINT [FK_Distrito_Provincia] FOREIGN KEY([IdProvincia_c])
REFERENCES [dbo].[Provincia] ([IdProvincia_c])
GO
ALTER TABLE [dbo].[Distrito] CHECK CONSTRAINT [FK_Distrito_Provincia]
GO
ALTER TABLE [dbo].[Grupo]  WITH CHECK ADD  CONSTRAINT [FK_Grupo_ModeloVehiculo] FOREIGN KEY([IdModeloVehiculo_i])
REFERENCES [dbo].[Modelo] ([IdModeloVehiculo_i])
GO
ALTER TABLE [dbo].[Grupo] CHECK CONSTRAINT [FK_Grupo_ModeloVehiculo]
GO
ALTER TABLE [dbo].[Modelo]  WITH CHECK ADD  CONSTRAINT [FK_Modelo_Marca] FOREIGN KEY([IdMarca_i])
REFERENCES [dbo].[Marca] ([IdMarca_i])
GO
ALTER TABLE [dbo].[Modelo] CHECK CONSTRAINT [FK_Modelo_Marca]
GO
ALTER TABLE [dbo].[Proveedor]  WITH CHECK ADD  CONSTRAINT [FK_Proveedor_Pais] FOREIGN KEY([IdPais_i])
REFERENCES [dbo].[Pais] ([IdPais_i])
GO
ALTER TABLE [dbo].[Proveedor] CHECK CONSTRAINT [FK_Proveedor_Pais]
GO
ALTER TABLE [dbo].[Provincia]  WITH CHECK ADD  CONSTRAINT [FK_Provincia_Departamento] FOREIGN KEY([IdDepartamento_c])
REFERENCES [dbo].[Departamento] ([IdDepartamento_c])
GO
ALTER TABLE [dbo].[Provincia] CHECK CONSTRAINT [FK_Provincia_Departamento]
GO
ALTER TABLE [dbo].[Vehiculo]  WITH CHECK ADD  CONSTRAINT [FK_Vehiculo_Modelo] FOREIGN KEY([IdModeloVehiculo_i])
REFERENCES [dbo].[Modelo] ([IdModeloVehiculo_i])
GO
ALTER TABLE [dbo].[Vehiculo] CHECK CONSTRAINT [FK_Vehiculo_Modelo]
GO
ALTER TABLE [dbo].[Vehiculo]  WITH CHECK ADD  CONSTRAINT [FK_Vehiculo_Proveedor] FOREIGN KEY([IdProveedor_i])
REFERENCES [dbo].[Proveedor] ([IdProveedor_i])
GO
ALTER TABLE [dbo].[Vehiculo] CHECK CONSTRAINT [FK_Vehiculo_Proveedor]
GO
ALTER TABLE [dbo].[Asignacion]  WITH CHECK ADD CHECK  (([TipoAsignacion_c]='N' OR [TipoAsignacion_c]='S'))
GO
ALTER TABLE [dbo].[Cliente]  WITH CHECK ADD CHECK  (([Codigo_c] like 'C[0-9][0-9][0-9][0-9][0-9][0-9]'))
GO
ALTER TABLE [dbo].[Cliente]  WITH CHECK ADD CHECK  (([Correo_nv] like '%_@__%.__%'))
GO
ALTER TABLE [dbo].[Cliente]  WITH CHECK ADD CHECK  (([Estado_c]='I' OR [Estado_c]='A'))
GO
ALTER TABLE [dbo].[Cliente]  WITH CHECK ADD CHECK  (([EstadoCivil_c]='V' OR [EstadoCivil_c]='D' OR [EstadoCivil_c]='C' OR [EstadoCivil_c]='S'))
GO
ALTER TABLE [dbo].[Cliente]  WITH CHECK ADD CHECK  (([NroContacto_c] like '9[0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9]'))
GO
ALTER TABLE [dbo].[Cliente]  WITH CHECK ADD CHECK  (([NroDocumento_v] like '[0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9]' OR [NroDocumento_v] like '[0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9]'))
GO
ALTER TABLE [dbo].[Cliente]  WITH CHECK ADD CHECK  (([Sexo_c]='F' OR [Sexo_c]='M'))
GO
ALTER TABLE [dbo].[Cliente]  WITH CHECK ADD CHECK  (([TipoDocumento_c]='C' OR [TipoDocumento_c]='D'))
GO
ALTER TABLE [dbo].[DetalleEstadoCuenta]  WITH CHECK ADD CHECK  (([EstadoCuota_c]='A' OR [EstadoCuota_c]='R' OR [EstadoCuota_c]='C' OR [EstadoCuota_c]='D'))
GO
ALTER TABLE [dbo].[DetalleEstadoCuenta]  WITH CHECK ADD CHECK  (([MartillazoMonto_m]>=(0)))
GO
ALTER TABLE [dbo].[DetalleEstadoCuenta]  WITH CHECK ADD CHECK  (([MontoCuota_m]>=(0)))
GO
ALTER TABLE [dbo].[DetalleEstadoCuenta]  WITH CHECK ADD CHECK  (([PenalidadMonto_m]>=(0)))
GO
ALTER TABLE [dbo].[Documento]  WITH CHECK ADD CHECK  (([Estado_c]='R' OR [Estado_c]='O' OR [Estado_c]='A' OR [Estado_c]='P'))
GO
ALTER TABLE [dbo].[Grupo]  WITH CHECK ADD CHECK  (([CantidadCuotas_i]>=(10) AND [CantidadCuotas_i]<=(50)))
GO
ALTER TABLE [dbo].[Grupo]  WITH CHECK ADD CHECK  (([CantMaxIntegrantes_i]>=(10) AND [CantMaxIntegrantes_i]<=(30)))
GO
ALTER TABLE [dbo].[Grupo]  WITH CHECK ADD CHECK  (([Codigo_c] like 'G[0-9][0-9][0-9][0-9][0-9][0-9]'))
GO
ALTER TABLE [dbo].[Grupo]  WITH CHECK ADD CHECK  (([Estado_c]='I' OR [Estado_c]='A'))
GO
ALTER TABLE [dbo].[Grupo]  WITH CHECK ADD CHECK  (([Penalidad_dc]>=(0) AND [Penalidad_dc]<=(1)))
GO
ALTER TABLE [dbo].[Grupo]  WITH CHECK ADD CHECK  (([TipoPeriodoPago_c]='M' OR [TipoPeriodoPago_c]='Q' OR [TipoPeriodoPago_c]='S' OR [TipoPeriodoPago_c]='D'))
GO
ALTER TABLE [dbo].[Marca]  WITH CHECK ADD CHECK  (([Estado_c]='I' OR [Estado_c]='A'))
GO
ALTER TABLE [dbo].[Modelo]  WITH CHECK ADD CHECK  (([PrecioUnidadVehiculo_m]>=(0)))
GO
ALTER TABLE [dbo].[Modelo]  WITH CHECK ADD CHECK  (([Tipo_c]='D' OR [Tipo_c]='E'))
GO
ALTER TABLE [dbo].[Vehiculo]  WITH CHECK ADD CHECK  (([Color_c]='OT' OR [Color_c]='RS' OR [Color_c]='VR' OR [Color_c]='NG' OR [Color_c]='RO' OR [Color_c]='AZ' OR [Color_c]='AD' OR [Color_c]='BL'))
GO
ALTER TABLE [dbo].[Vehiculo]  WITH CHECK ADD CHECK  (([Estado_c]='P' OR [Estado_c]='E' OR [Estado_c]='N' OR [Estado_c]='D'))
GO
ALTER TABLE [dbo].[Vehiculo]  WITH CHECK ADD CHECK  (([Placa_c] like '[A-Z][A-Z]-[0-9][0-9][0-9][0-9]'))
GO
ALTER TABLE [dbo].[Vehiculo]  WITH CHECK ADD CHECK  (([PrecioCompraVehiculo_m]>=(0)))
GO
